<div class="ui container internally celled grid">
  <div class="eight wide column">
    <h2> {{shoppingList?.name}}</h2>
    <p class="info"><i class="icon bell outline"> </i> {{shoppingList?.due_date | date:'fullDate'}}</p>
    <div *ngIf="!isHelpseeker()">
      <p class="info"><i class="icon user outline"> </i> {{shoppingList?.helpseeker.first_name}}
        {{shoppingList?.helpseeker.last_name}}</p>
      <p class="info"><i class="icon home"> </i> {{shoppingList?.helpseeker.address}}</p>
    </div>
    <div class="ui relaxed divided list">
      <div *ngFor="let item of shoppingList?.shopping_items" [item]="item" class="item cs-shopping-list-item">
      </div>
    </div>
    <div *ngIf="isHelpseeker()">
      <div *ngIf="volunteerIsSet() && shoppingList.total_price == null" class="ui grey message"><i
        class="exclamation icon"> </i>Einkauf von {{shoppingList.volunteer.first_name}}
        {{shoppingList.volunteer.last_name}} übernommen
      </div>
      <div *ngIf="volunteerIsSet() && shoppingList.total_price !== null" class="ui green message"><i
        class="exclamation icon"> </i>Einkauf abgeschlossen. Der Gesamtpreis beträgt {{shoppingList.total_price}}€
      </div>
      <div *ngIf="!volunteerIsSet()" class="ui red message"><i class="exclamation icon"> </i>Einkauf noch nicht
        übernommen.
      </div>
    </div>

    <div *ngIf="!isHelpseeker() && shoppingList?.done == false" class="ui action input">
      <input placeholder="Gesamtpreis €" type="number" class="field" [(ngModel)]="totalPrice"
             [ngModelOptions]="{standalone: true}" name="totalPrice">
      <div (click)="finishList(totalPrice)" class="ui teal right labeled icon button">
        Einkauf abschließen
      </div>
    </div>
  </div>
  <div class="five wide column">
    <h2> Kommentare </h2>
    <div *ngFor="let feedback of shoppingList?.feedback" [comment]="feedback" class=" ui comments cs-comment">
    </div>
    <form class="ui reply form">
      <div class="field">
        <textarea [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" name="comment"></textarea>
      </div>
      <div (click)="addComment(comment)" class="ui labeled submit icon button">
        <i class="icon pencil alternate"></i> Kommentieren
      </div>
    </form>
  </div>
</div>

