h1{
  font-size: 16px;
  color: grey;
  font-weight: lighter;
  padding: 5px 0 0 5px;
}

.userName{
  padding-left: 26px;
  font-size: 16px;
}

.ui.sidebar p{
  margin-bottom: 0;
  padding-top: 13px;
}

.ui.vertical.menu .item.active{
  background-color: rgba(95, 158, 160, 0.4);
}

.ui.sidebar .shoppingList{
  padding-left: 53px;
}

.ui.vertical.menu .item > i.icon{
  float: left;
  padding-right: 30px;
}
