.ui.sidebar p{
  margin-bottom: 0;
  padding-top: 13px;
}

.ui.sidebar .shoppingList{
  padding-left: 53px;
  font-size: 12px;
}

.ui.vertical.menu .item > i.icon{
  float: left;
  padding-right: 30px;
}
