<div class="ui container">
  <form class="ui large form" [formGroup]="shoppingListForm">

    <div class="formFields">
      <input type="hidden" name="id">
      <div class="field">
        <input onClick="this.select();" class="ui listName" formControlName="name">
      </div>
      <div class="field">
        <label>Fälligkeitsdatum</label>
        <input type="date" min="{{minDate}}" formControlName="due_date">
      </div>
      <div class="ui section divider"></div>
      <div class="ui relaxed divided list">
        <div class="item cs-shopping-list-item" *ngFor="let arrayItem of itemsArray;" [item]="arrayItem">
        </div>
      </div>
      <div class="ui newItem">
        <div class="inline fields">
          <button class="circular ui icon button" (click)="addItem()" [disabled]="itemPropsInvalid()">
            <i class="icon plus"></i>
          </button>
          <div class="seven wide field">
            <input type="text" formControlName="itemDescription" placeholder="Artikel hinzufügen">
          </div>
          <div class="four wide field">
            <span> Maximalpreis: </span> <input formControlName="itemPrice" type="number" placeholder="3.50">
          </div>
          <div class="two wide field">
            <span> Anzahl: </span> <input formControlName="itemAmount" type="number" placeholder="Anzahl">
          </div>
        </div>
        <div *ngIf="errors.itemDescription" class="ui negative message">{{ errors.itemDescription }}</div>
        <div *ngIf="errors.itemPrice" class="ui negative message">{{ errors.itemPrice }}</div>
        <div *ngIf="errors.itemAmount" class="ui negative message">{{ errors.itemAmount }}</div>
      </div>
    </div>


    <button (click)="submitForm()" type="submit" class="ui button  submit segment" [disabled]="shoppingListPropsInvalid()">
      Speichern</button>
  </form>
</div>
